/*--------------------LAYOUT (para aplicar flex usamos contenedores --> divs)------------------------*/
.main-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

/**--------------------DETALLES GENERALES----------------*/
body {
    font-family: 'Lato', sans-serif;
}
ul {
    list-style-type: none;
}
article h3,
article h4 {
    font-weight: bold;
}

 /*sea crea este div vacío para acomodar la seccion de la tabla DATOS PERSONALES*/
 .clear {
    clear: both;  
 }

 h1,
 h2 {
    text-transform: uppercase;
 }

/** ------------------------ ASIDE ---------------------------*/
aside {
    background-color: #9FB39F;
    width: 30%;
    margin-right: 3%;
}

aside * {
    color: antiquewhite;
}

aside h2 {
    color: whitesmoke;
    border-top: 2px solid whitesmoke;
    letter-spacing: 5px;
}

aside section h2:first-child /*para el primer h2 del section adentro del aside*/ {

    border-bottom: 2px solid whitesmoke;

}

#foto-perfil img {
    border-radius: 50%;
  
}

/*------------------------------ MAIN ------------------------------------*/

/* (>) solo para los h2 que son hijos directos de los sections que están adentro del MAIN */
main section > h2 {
    text-transform: uppercase;
    letter-spacing: 5px ;

}

/*( La clas="hero" se llama así porque es un estandar de una sección que es mayor a todas las demás)-----*/
.hero {
    background-color: #406640;
    padding: 15% 0;
    text-align: center;
    
 /*-------Para hacer un sombreado alrededor de la caja del MAIN------------
    box-shadow: 3px 3px 30px 5px mediumpurple inset;
 --------------------------------------------------------------------------*/
}

.hero h1 {
    letter-spacing: 10px;
}

.hero h2 {
    color: antiquewhite;
    border-top: 2px solid antiquewhite;
    /* estos text-transform y letter-spacing los pongo para que no me aplique lo del "main section > h2" (del "Front-End Developer jr."
    text-transform: none;*/
    letter-spacing: 10px;
}


 /*-------------------------------SOBRE MI----------------------------------*/

.sobre-mi p {
    line-height: 2em;
    background-color: #406640;
    padding: 5px;
}

/*------------------------------REFERENCIAS---------------------------------*/
 .referencias {
    display: flex;
    background-color: #DFE6DF;
    
 }
 .referencias article figure {
    text-align: center;
 }
 .referencias figure img {
    border-radius: 50%; 
    
 }

 /*----para poner 2 cuadraditos arriba y dos abajo-----------------------------
.referencias article {
    width: 50%; 
 /*---- NO ME ESTÁ FUNCIONANDO LO DE PONER 2 CUADRADOS ARRIBA Y DOS ABAJO. No me doy cuenta q estoy haciendo mal.  
 } */


 /*---DL--- TABLA DE LOS DATOS PERSONALES*/
 dt,
 dd {
    line-height: 1.5em; /*para el alto del renglón*/
    border-top: 1px solid whitesmoke;
 }

 dt {
    clear: left;
    width: 30%;
    float: left;
    font-weight: bolder; 
 }

 dd {
    clear: right;
    width: 50%;
    float: left;
    margin: 0;
 }

 dt:last-of-type,
 dd:last-of-type {
    border-bottom: 1px solid whitesmoke;
 }

 /*---------------------------------- SOCIALES/ICONOS -----------------------------------------*/
a {
    text-decoration: none;
}

/*------------------------------------ BARRAS MEDIDORAS / METERS----------------------------------*/
meter {
     display: block;
     width: 80%;
}
meter::-webkit-meter-optimum-value {
    background: none;
    background-color: #406640;
}

 /*-------------------------FOOTER---------------------------*/
 footer p {
    text-align: center;
    background-color: #BFCCBF;
   
 }

 

 